@font-face {
  font-family: "Coalition_v2";
  src: url(../fonts/coalition_v2.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  color: #D0D0D0;
  font-family: Coalition;
  font-weight: normal;
  font-style: normal;
  transition: all 0.75s ease;
}

header h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5vw
}

nav {
  width: 100%;
  box-shadow: 0
}

main {
  color: #D0D0D0;
  padding: 48px;
  flex: 1 0 auto
}

main p {
  text-align: justify;
  display: none
}

#div-empire-select {
  margin: 0 auto;
  text-align: center
}

main .btn-large {
  height: 5vw;
  width: 5vw;
  min-height: 48px;
  min-width: 48px;
  margin: 4px;
  padding: 0
}

main img {
  height: auto;
  width: 100%
}

.category {
  margin: 4px;
  padding: 2px;
  width: 8vw;
  min-width: 120px;
  text-align: center;
  display: inline-block
}

.group {
  margin-top: 12px;
  margin-right: 2px;
  padding: 2px;
  width: 12vw;
  min-width: 192px;
  text-align: center;
}

.merit {
  margin: 4px;
  width: 100%;
  display: inline-block;
}

#div-categories {
  margin: 0 auto;
  text-align: center
}

#div-groups {
  height: 256px;
  overflow: visible
}

#ul-merits {
  list-style: none;
}

#ul-merits li {
  margin: 4px;
  width: 100%;
  text-align: left
}

footer {
  padding: 12px;
  color: #D0D0D0;
  transition: all 0.75s ease;
}

footer h6 {
  width: 100%;
  text-align: center
}
